<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c4a387be-3a1c-43d6-8e37-b4b65475eeab" Alias="articleListPage" Level="2">
  <Info>
    <Name>Article List Page</Name>
    <Icon>icon-thumbnail-list color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A list of articles or blog posts</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="941e48de-7bfa-49de-afd4-53ad23b06a23">contentProperties</Composition>
      <Composition Key="bed9f5b4-f65b-485c-b1d8-f968f3f4aee9">headerProperties</Composition>
      <Composition Key="2c9b4523-cc82-44dc-ab73-060828cf6aea">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>ArticleListPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="329fe6dc-b78a-4ba4-810e-901fcfc82644">ArticleListPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>