<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b35f0da4-0f88-4318-bcac-07dbadc9e590" Alias="contactPage" Level="2">
  <Info>
    <Name>Contact Page</Name>
    <Icon>icon-phone color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Page with contact details</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="941e48de-7bfa-49de-afd4-53ad23b06a23">contentProperties</Composition>
      <Composition Key="bed9f5b4-f65b-485c-b1d8-f968f3f4aee9">headerProperties</Composition>
      <Composition Key="2c9b4523-cc82-44dc-ab73-060828cf6aea">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>ContactPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="221b0fa0-9e46-4cf6-964f-489890fabd91">ContactPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>