<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4dfd00cc-62ac-4a14-a45c-996c3d87666b" Alias="featuredItemsRow" Level="4">
  <Info>
    <Name>Featured Items Row</Name>
    <Icon>icon-thumbnail-list color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Blocks/Content+Models</Folder>
    <Compositions>
      <Composition Key="8e4c8a77-9b67-416b-bab1-0c3fa97c1d2d">descriptionProperty</Composition>
      <Composition Key="1c8c4173-2034-4558-98b8-a55751adbe3f">titleProperty</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>24027947-88ca-4fdc-803b-7d94f23c8e02</Key>
      <Name>Featured Items</Name>
      <Alias>featuredItems</Alias>
      <Definition>b928ca9b-ab36-4dfa-a037-08c679e7e8ce</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add the featured items for this row]]></Description>
      <SortOrder>40</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>ca4017f7-6e43-4c4c-a335-2fd2a8192250</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>