<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0a548954-42ef-41bd-8e16-aedb9865b4e2" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="b86e9844-a46e-4897-9129-1e22368c9637">footerProperties</Composition>
      <Composition Key="bed9f5b4-f65b-485c-b1d8-f968f3f4aee9">headerProperties</Composition>
      <Composition Key="b3ae4118-377d-4d9c-af07-f655583708c2">siteNavigationProperties</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2bc36ee5-3f37-4429-922c-942fc207b94a">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="ae7e105f-f8ca-4f8d-ab46-a09568467ae1" SortOrder="0">contentPage</ContentType>
    <ContentType Key="c4a387be-3a1c-43d6-8e37-b4b65475eeab" SortOrder="1">articleListPage</ContentType>
    <ContentType Key="b35f0da4-0f88-4318-bcac-07dbadc9e590" SortOrder="2">contactPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>