<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="eb3969a0-fbd2-4ea9-9d75-792580ad9b4f" Alias="quoteRowSettings" Level="4">
  <Info>
    <Name>Quote Row Settings</Name>
    <Icon>icon-settings color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Blocks/Setting+Models</Folder>
    <Compositions>
      <Composition Key="10357eee-451d-4082-80a6-f30bcce9c06c">blockVisibilitySettings</Composition>
      <Composition Key="25377b4b-d4ad-4137-8b06-7dc6e87c3c50">textAlignSettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>