<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d2969d31-918f-467b-8f9b-4358128f68d7" Alias="[BlockList] Carousel Items" Level="1">
  <Info>
    <Name>[BlockList] Carousel Items</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "e71409b5-7977-4367-8357-6449b28cb1b4",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title != '' ? title : 'Carousel Item' + $index }} {{$settings.hide == '1' ? '[Hidden]' : '' }}",
      "settingsElementTypeKey": "0c1949ea-58dc-444b-b32a-bff203fab9a0",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>