<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6f32e06f-a985-4fce-959a-bbfe2d805335" Alias="[BlockList] Main Content" Level="1">
  <Info>
    <Name>[BlockList] Main Content</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "f197e042-e25a-4a10-9f4a-b502b95b8598",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ 'Rich Text' + $index }} {{$settings.hide == \"1\" ? '[HIDDEN]':''}}",
      "settingsElementTypeKey": "b8cd81e5-9b90-4b93-a0bf-ca54f05a20de",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "4bf36d04-22b4-4216-a99e-304f83be39fb",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ 'Image ' + $index }} {{$settings.hide == \"1\" ? '[HIDDEN]':''}}",
      "settingsElementTypeKey": "d8af57f6-d31d-4b62-9667-9dee348a0416",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "4dfd00cc-62ac-4a14-a45c-996c3d87666b",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title != '' ? title : 'Featured Items' + $index }} {{$settings.hide == '1' ? '[Hidden]' : '' }}",
      "settingsElementTypeKey": "8a75229e-e5b1-4168-b893-06d801429a7e",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "c6e6824e-cdc4-4f42-b20a-6cf984937a0c",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title != '' ? title : 'Accordion ' + $index }} {{$settings.hide == '1' ? '[Hidden]' : '' }}",
      "settingsElementTypeKey": "58f35f2c-2150-4dc6-aa6e-7db3f09a70b8",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "6bd65f55-ee3a-4321-88cc-da795595d24d",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ 'Quote' + $index }} {{$settings.hide == \"1\" ? '[HIDDEN]':''}}",
      "settingsElementTypeKey": "eb3969a0-fbd2-4ea9-9d75-792580ad9b4f",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>