<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b64741fa-ad90-4f41-bfb5-e84ee3451957" Alias="[DataList] TextAlignment" Level="1">
  <Info>
    <Name>[DataList] TextAlignment</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UserDefinedDataListSource, Umbraco.Community.Contentment",
      "value": {
        "items": [
          {
            "icon": "icon-navigation-left color-black",
            "name": "Left",
            "value": "text-start",
            "description": ""
          },
          {
            "icon": "icon-stop",
            "name": "Center",
            "value": "text-center",
            "description": ""
          },
          {
            "icon": "icon-navigation-right color-black",
            "name": "Right",
            "value": "text-right",
            "description": ""
          }
        ]
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.ButtonsDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "defaultIcon": "icon-document",
        "size": "m",
        "labelStyle": "both",
        "allowClear": "0"
      }
    }
  ]
}]]></Config>
</DataType>