<?xml version="1.0" encoding="utf-8"?>
<DataType Key="de60062c-6ccf-4ae4-ace8-052f8c700588" Alias="[MultiURLPicker] Single Url Picker" Level="1">
  <Info>
    <Name>[MultiURLPicker] Single Url Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>