<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c79950f7-0503-4ad7-8c53-da5ae2f17ce7" Alias="[RepeatableTextString] Names" Level="1">
  <Info>
    <Name>[RepeatableTextString] Names</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Maximum": 0,
  "Minimum": 0
}]]></Config>
</DataType>