<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4a16ff0d-8036-45b9-bbcc-863c7a7aea8b" Alias="[RichTextEditor] Simple RTE" Level="1">
  <Info>
    <Name>[RichTextEditor] Simple RTE</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "ace",
      "styles",
      "bold",
      "italic",
      "underline"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "small"
}]]></Config>
</DataType>