<?xml version="1.0" encoding="utf-8"?>
<Media Key="73d10e32-90b1-4fab-b6ed-ba948c180e60" Alias="Dream+Big+Post (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DreamplusBigplusPost1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-02T16:31:02</CreateDate>
    <NodeName Default="Dream+Big+Post (1)" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gqhnc23r/dreamplusbigpluspost-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>