<?xml version="1.0" encoding="utf-8"?>
<Content Key="e1fe2379-083f-4cbb-aed3-b6d5e1452215" Alias="About" Level="2">
  <Info>
    <Parent Key="80daa41d-a182-4a59-8975-218a3b912127">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-02-03T10:31:48</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="55520019-8752-4203-a125-b7a5df4e94db">ContentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>It works!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius praesentium recusandae illo eaque architecto error, repellendus iusto reprehenderit, doloribus, minus sunt. Numquam at quae voluptatum in officia voluptas voluptatibus, minus!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur magnam, excepturi aliquid ex itaque esse est vero natus quae optio aperiam soluta voluptatibus corporis atque iste neque sit tempora!</p>]]></Value>
    </bodyText>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "518cc426-16ea-4b29-9030-31b569904d95",
    "mediaKey": "5f651823-36c7-4156-92cd-33b7f3cda5ce"
  }
]]]></Value>
    </headerImage>
    <subtitle>
      <Value><![CDATA[About]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[About this Website]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>