<?xml version="1.0" encoding="utf-8"?>
<Content Key="1b843ba6-925c-417e-b768-0102e67a4a95" Alias="Blog" Level="2">
  <Info>
    <Parent Key="80daa41d-a182-4a59-8975-218a3b912127">Home</Parent>
    <Path>/Home/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>articleListPage</ContentType>
    <CreateDate>2023-02-03T10:49:44</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="329fe6dc-b78a-4ba4-810e-901fcfc82644">ArticleListPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "17d90d43-ebd4-4687-922f-22d92e912767",
    "mediaKey": "5f651823-36c7-4156-92cd-33b7f3cda5ce"
  }
]]]></Value>
    </headerImage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>