<?xml version="1.0" encoding="utf-8"?>
<Content Key="4ff7c984-22ff-45c7-a329-6ce7c5d12ea9" Alias="Contact" Level="2">
  <Info>
    <Parent Key="80daa41d-a182-4a59-8975-218a3b912127">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2023-02-03T10:49:56</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="221b0fa0-9e46-4cf6-964f-489890fabd91">ContactPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "5ab55a93-8bda-489c-83b1-4f2b9b84ba2b",
    "mediaKey": "73d10e32-90b1-4fab-b6ed-ba948c180e60"
  }
]]]></Value>
    </headerImage>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Contact]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>