<?xml version="1.0" encoding="utf-8"?>
<Content Key="80daa41d-a182-4a59-8975-218a3b912127" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2023-02-02T14:42:05</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2bc36ee5-3f37-4429-922c-942fc207b94a">HomePage</Template>
  </Info>
  <Properties>
    <footerSocialLinks>
      <Value><![CDATA[[
  {
    "network": "twitter",
    "name": "Twitter",
    "url": "https://twitter.com/"
  },
  {
    "network": "github",
    "name": "GitHub",
    "url": "https://github.com/checkman123"
  },
  {
    "network": "youtube",
    "name": "YouTube",
    "url": "https://youtube.com/"
  },
  {
    "network": "mastodon",
    "name": "Mastodon",
    "url": "https://mastodon.social/"
  }
]]]></Value>
    </footerSocialLinks>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "d25b3ab7-9e8f-4f80-933f-02a737eaeed6",
    "mediaKey": "73d10e32-90b1-4fab-b6ed-ba948c180e60"
  }
]]]></Value>
    </headerImage>
    <mainNavigation>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9ec5aabe0a164591ae0a1cb57b758930"
      },
      {
        "contentUdi": "umb://element/a3feeb8ad5a94c51aedf20fd7020fd6f"
      },
      {
        "contentUdi": "umb://element/b71477778ee746ef85565dcf3b508e77"
      },
      {
        "contentUdi": "umb://element/3b3eec70d20c4248b3034bd0fee71ec0"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "2f809224-6485-477e-932c-901309f14e48",
      "udi": "umb://element/9ec5aabe0a164591ae0a1cb57b758930",
      "title": "Home",
      "link": "[{\"name\":\"Home\",\"udi\":\"umb://document/80daa41da1824a598975218a3b912127\"}]",
      "childLinks": null
    },
    {
      "contentTypeKey": "2f809224-6485-477e-932c-901309f14e48",
      "udi": "umb://element/a3feeb8ad5a94c51aedf20fd7020fd6f",
      "title": "About",
      "link": "[{\"name\":\"About\",\"udi\":\"umb://document/e1fe2379083f4cbbaed3b6d5e1452215\"}]",
      "childLinks": null
    },
    {
      "contentTypeKey": "2f809224-6485-477e-932c-901309f14e48",
      "udi": "umb://element/b71477778ee746ef85565dcf3b508e77",
      "title": "Blog",
      "link": null,
      "childLinks": "[{\"name\":\"Blog\",\"udi\":\"umb://document/1b843ba6925c417eb7680102e67a4a95\",\"queryString\":\"#testing1\"},{\"name\":\"Most Popular\",\"url\":\"\",\"queryString\":\"#testing2\"},{\"name\":\"Latest Blog Post\",\"url\":\"#testing3\"}]"
    },
    {
      "contentTypeKey": "2f809224-6485-477e-932c-901309f14e48",
      "udi": "umb://element/3b3eec70d20c4248b3034bd0fee71ec0",
      "title": "Contact",
      "link": "[{\"name\":\"Contact\",\"udi\":\"umb://document/4ff7c98422ff45c7a3296ce7c5d12ea9\"}]",
      "childLinks": null
    }
  ],
  "settingsData": []
}]]></Value>
    </mainNavigation>
    <subtitle>
      <Value><![CDATA[A testing blog website]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Safe's Site]]></Value>
    </title>
  </Properties>
</Content>